@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row flex-nowrap">
        <NavMenu />
        <div class="col py-3 ">
            @Body  
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

